# LEKCE 1

# Základní analýza datové sady Palmer Penguins

## Načtěte dataset Palmer Penguins
Můžete jej stáhnout z GitHub [repozitáře](https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins.csv).

Použijte knihovnu pandas, metodu `read_csv()` a data uložte do dataframu nazváného data.

#### Dokumentace k datasetu “Penguins”

Tento dataset obsahuje údaje o třech druzích tučňáků, kteří se vyskytují v oblasti Palmerovy stanice na Antarktidě. Dataset je často využíván pro výukové účely a analýzy dat.

Dataset obsahuje měření různých fyzických charakteristik tučňáků ze tří různých ostrovů. Data zahrnují informace o délce zobáku, hloubce zobáku, délce ploutví, hmotnosti těla a dalších proměnných. Měření byla provedena na třech druzích tučňáků: Adélie, Gentoo, a Chinstrap.

**Sloupce datasetu:**

- species – Druh tučňáka (Adélie, Gentoo, Chinstrap)
- island – Ostrov, na kterém byl tučňák pozorován (Biscoe, Dream, Torgersen)
- bill_length_mm – Délka zobáku v milimetrech
- bill_depth_mm – Hloubka zobáku v milimetrech
- flipper_length_mm – Délka ploutve v milimetrech
- body_mass_g – Hmotnost těla tučňáka v gramech
- sex – Pohlaví tučňáka (Male nebo Female)
- year – Rok, kdy bylo měření provedeno

In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/allisonhorst/palmerpenguins/master/inst/extdata/penguins.csv"

data = pd.read_csv(url)

### Kolik řádků obsahuje dataset?

In [4]:
# Použití data.shape[0] (první prvek tuple ze shape)
pocet_radek = data.shape[0]

# Použití len() na samotný datový rámec (vrací délku indexu, tedy počet řádků)
pocet_radek = len(data)

# Použití len() na index datového rámce
pocet_radek = len(data.index)

# Použití pandasové metody .index.size (přímo vrací velikost indexu, což odpovídá počtu řádků)
pocet_radek = data.index.size

print(pocet_radek)

# Použití .info() k zobrazení počtu ne-null hodnot v každém sloupci (ale toto jen zobrazí, ne vrátí výsledek jako číslo)
# data.info()

344

### Kolik sloupců má načtený dataset?

In [5]:
# Získání počtu sloupců v datovém rámci (druhý prvek tuple)
pocet_sloupcu = data.shape[1]

# Získání počtu sloupců pomocí len() na seznamu sloupců
pocet_sloupcu = len(data.columns)

# Získání počtu unikátních názvů sloupců pomocí .nunique() na seznamu sloupců
pocet_sloupcu = data.columns.nunique()

# Použití metody .columns.size, která vrací počet sloupců
pocet_sloupcu = data.columns.size

print(pocet_sloupcu)

# Zobrazení informací o datovém rámci, včetně počtu ne-null hodnot, typů sloupců atd.
# data.info()

8

### Jak zobrazíte první 10 řádků DataFrame data?

Napiš kód.

In [10]:
# print(data.head(10))

data.head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007

### Kolik sloupců v datasetu obsahuje prázdné hodnoty?

In [6]:
# Zobrazení informace o sloupcích včetně počtu ne-null hodnot
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

**Něco navíc** 

Další pokročilejší způsoby pro inspiraci

In [7]:
# Zjištění, kolik sloupců obsahuje alespoň jednu prázdnou hodnotu
pocet_sloupcu_nan = data.isnull().any().sum()
pocet_sloupcu_nan = data.isna().any().sum()

print(pocet_sloupcu_nan)

5

### Co vrací vlastnost `columns`?

Jména sloupců v DataFrame.

In [13]:
data.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

Vlastnost columns v pandas vrací Index obsahující názvy sloupců daného DataFrame. 

Tento index funguje podobně jako seznam, což znamená, že lze přistupovat k jednotlivým názvům sloupců pomocí indexování. 

Lze jej také převést na běžný seznam pomocí list(df.columns). 

Pokud je DataFrame vytvořen bez zadaných názvů sloupců, pandas jim přiřadí výchozí číselné hodnoty. columns je pouze pro čtení, ale lze jej přepsat novým seznamem názvů.

### Co znamená výstup `(1000, 5)` z příkazu `data.shape`?

DataFrame má 1000 řádků a 5 sloupců.


- První číslo (1000) udává počet řádků, tedy počet jednotlivých záznamů nebo pozorování v datasetu.
- Druhé číslo (5) značí počet sloupců, což odpovídá počtu různých atributů nebo vlastností popisujících každý řádek.
- Vlastnost .shape je užitečná pro rychlou kontrolu velikosti datasetu, například při práci s velkými soubory nebo při ladění kódu.
- Tento výstup může být využit v podmínkách, například if data.shape[0] > 1000:, což umožní reagovat na velikost datasetu.
- Pokud DataFrame obsahuje chybějící hodnoty nebo duplicitní řádky, .shape stále odráží celkový počet řádků bez ohledu na jejich kvalitu.

### Co znamená metoda `info()` v pandas?

Vrací informace o sloupcích a jejich datových typech. 

Metoda `info()` v pandas poskytuje přehledné shrnutí DataFrame, které zahrnuje:
1.	Počet řádků a sloupců – ukazuje celkovou velikost datasetu.
2.	Typy dat ve sloupcích – např. int64, float64, object (pro text), datetime64, category atd.
3.	Počet ne-null hodnot – pomáhá identifikovat chybějící data.
4.	Velikost v paměti – kolik paměti DataFrame zabírá, což je užitečné u velkých datasetů.

Tento výstup pomáhá rychle pochopit strukturu a kvalitu dat.

### Co představuje `index` v pandas DataFrame a jakou roli hraje při práci s daty?

Index v pandas je sloupec, který slouží jako jedinečný identifikátor pro každý řádek a usnadňuje přístup k datům.

Hlavní role indexu:
1.	Identifikace řádků – Každý řádek má svůj jedinečný index, což usnadňuje přístup k datům.
2.	Výchozí nebo vlastní hodnoty – Výchozí index je číselný (0, 1, 2...), ale lze jej nastavit na sloupec datasetu, např. ID zákazníka nebo datum.
3.	Rychlé vyhledávání – Pandas optimalizuje operace nad indexovanými daty pro rychlé dotazy a spojování (merge, join).
4.	Zachování struktury při manipulaci – Při filtraci nebo změně pořadí řádků index pomáhá udržet konzistenci dat.
5.	Víceúrovňové indexování (MultiIndex) – Umožňuje hierarchickou strukturu dat pro složitější analýzy.